.input-area {    
    width: 50px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.single-input-field{
    position: relative;
    min-height: 80px;
    width: 200px;
    background-color: violet;
    margin-left:30px;
    transform: translate(0%, 50%);
}

.single-input-field::before {
    display: block;
    content: "And";
    width: 20px;
    height: 20px;
    position: absolute;
    left: -100px;
    top:35px;
}